/******************************************************************************
  RowdyHacks Website CSS                                        March 12, 2016
  Copyright ACM UTSA Student Chapter
  Written by: Kurt King
  Contributions: Bryan Deloeste, Kristin Mendoza
                
  Color Scheme (Layout/Font)
    #f8b195
    #fb67280
    #c06c84  
    #6c5b7b 
    #355c7d
    
******************************************************************************/

/* Main font styles
*/
.font-thin {
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  font-weight: 200;
}
.font-about {
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: .85em;
}
.font-semibold {
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.font-bold {
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.font-light {
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  font-weight: 300;
}
#yellowtail {
  font-family: 'Yellowtail', cursive;
}

/* Main Section Header
*/
.header {
  color: #f8b195;
}

/* Global CSS
*/
* {
  position: relative;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #355C7D;
  font-weight: normal;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased !important;
}

/* Main heading divider bar
*/
.hr {
  color: #f67280;
  background-color: #f67280;
  border-color: #f67280;
}
.line-row .hr {
  background-color: #f67280;
  height: 5px;
  margin: 0 auto;
  width: 33%;
}

/* NAVBAR 
*/
.navbar-custom {
  background-color: #e4e6e5;
  border-bottom: 0 none;
  font-size: 1.25em;
  transition: .25s all linear;
  text-align: center;
  box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.06);
}
.navbar-custom .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: middle;
}
.navbar-custom .nav a {
  text-align: center;
  color: #6c5b7b;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  font-weight: 600;
  transition: all .5 linear;
}
.nav li {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.nav > li > a:hover,
.nav > li > a:focus {
  color: #f67280;
  text-align: center;
  background-color: inherit;
  outline: none;
}

/* Mobile navbar icon
*/
.fa-bars {
  color: #000;
}

/* Controls the growth of the bar icon when in mobile view 
*/
.hvr-icon-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-grow:before {
  position: absolute;
  right: 1em;
  padding: 0 1px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-grow:hover:before, .hvr-icon-grow:focus:before, .hvr-icon-grow:active:before {
  -webkit-transform: scale(1.3) translateZ(0);
  transform: scale(1.3) translateZ(0);
}

/* Controls the navbar to expand at full screen view
*/
@media(min-width:768px) {
  .navbar-custom {
      padding: 10px 0;
      border-bottom: 0;
      letter-spacing: 1px;
      -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
      -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
      transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
}


:focus {outline:none;}
::-moz-focus-inner {border:0;}

.slide {
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
  box-shadow: 15px 3px 15px 15px rgba(0,0,0,0.06);
}

/* Landing Page Intro Section
*/
#slide-1 {
  background-image: url('../images/test.png');
  font-family: 'Yellowtail', cursive;
  color: #e0e0e0;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
  bottom: 0px;
  display: block;
}

#slide-1 h1 {
  font-family: 'Yellowtail', cursive;
}
#slide-1 img {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

#home-row-1 {
  padding-top: 190px;
}

#home-row-1 h1 {
  font-size: 175px;
}

#home-row-1 h4 {
  font-size: 32px;
}

#home-row-2 {

}

#slide-2{
  background-color: #355C7D;
  color: #fff;
  padding-top: 90px;
}

/* Landing Page Register Button
*/
.btn-xl {
  border: 1px solid #f67280;
  color: #fff;
  background-color: #f67280;
  font-family: "Roboto";
  font-weight: 200;
  text-transform: uppercase;
  padding: 13px;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 22px;
  line-height: normal;
}
.btn-xl:hover,
.btn-xl:focus {
  background-color: #f8b195;
  border: 1px solid #f8b195;
  color: #6c5b7b;

}



/* Register Button Grow Shadow Effect
*/
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.title-row {
  font-size: 45px;
  padding-bottom: 50px;
}

.subtitle-row {
  font-size: 35px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.content-row {
  padding-top: 45px;
}

.content-row i,
#about-row-5 i {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.content-row h2 {
  font-size: 28px;
  padding-bottom: 40px;
}

.content-row h4 {
  font-family: "Titillium Web", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

i {
  font-size: 80px;
  color: white;
}
    

/* Event schedule section
*/
#slide-40 {
  background-color: #6c5b7b;
  color: #fff;
  padding-top: 90px;
}

#slide-40 h3 {
  font-size: 1em;
  text-align: center;
}

#slide-40 p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-size: .7em;
}

.schedule {
  padding-bottom: 5px;
}
.schedule-time {
  text-align: right;
  padding-right: 30px;
}
.schedule-event {
  text-align: left;
  padding-left: 30px;
}

@media (max-width: 767px) {
  .schedule {
    padding-bottom: 5px;
  }
  .schedule-time {
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 15px;
  }
  .schedule-event {
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
  }
}

/* Frequently Asked Questions Section
*/
#slide-4 {
  background-color: #355C7D;
  color: #e4e6e5;
  padding-top: 90px;
}

#slide-4 h3 {
  font-size: .8em;
  text-align: left;
}

#slide-4 p {
  font-size: .6em;
  text-align: left;
}

#slide-4 i {
  font-size: 80px;
  color: white;
}

/* Prize Section
*/
#slide-5 {
  background-color: #6c5b7b;
  color: #e4e6e5;
  padding-top: 90px;
}

/* Sponsorship Section
*/












/* Contact Section
*/
#slide-6 {
  background-color: #355c7d;
  color: #355C7D;
  padding-top: 90px;
}

#slide-6 p {
  color: #fff;
}

@media (max-width: 767px) {
  #slide-6 {
    background-image: none;
  }
}
        
#slide-6 .line-row .hr {
  background-color: #f67280;
  color: #000;
}

#slide-6 a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

@media (max-width: 767px) {
  .with-hover-text{
    margin-bottom: 2em;
    margin-top: 1em;
  }
}
        
#contact-row-4 .col-12 {
  height: 175px;
  overflow: hidden;
  padding-top: 20px;
  transition: all ease-in .5s;
}

#contact-row-4 img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

#contact-row-4 .col-12:hover {
  height: 175px;
  padding-top: 0;
}

#contact-row-4 .col-12 .hover-text {
  display: none;
  font-size: 20px;
}

.with-hover-text span {
  display: none;
}
.contact-text{
  color: #fff;
  word-wrap: break-word;
}

/* Footer Section
   Includes ACM link, scroll up button, and footer links
*/
#slide-7 {
  background-color: #fff;
  padding-bottom: 0px;
}

#slide-7 .btn-circle {
  background-color: #f67280;
  border: 2px solid #c06c84;
  padding-bottom: 0px;
}

#slide-7 i {
  color: #355c7d;
  padding-bottom: 0px;
}

.footer-left {
  vertical-align: middle;
  text-align: center; 
}

.footer-right {
  vertical-align: middle;
  font-size: .4em;
  text-align: right;
}

.footer-right li {
  list-style-type: none;
}

.title-row {
  font-size: 45px;
  padding-bottom: 50px;
}

.subtitle-row {
  font-size: 35px;
  padding-bottom: 40px;
  padding-top: 40px;
}

i {
  font-size: 80px;
  color: white;
}
        
/* Footer Section Page Up Button
*/
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 15px 16px;
  border: 2px solid #c06c84;
  border-radius: 100%!important;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
  background-color: #355c7d;
  border: 1px solid #f67280;
  outline: 0;
  color: #fff;
  opacity: .6;
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

/* Repsonsive CSS for devices smaller than 767px in width
   Usually tablet devices
*/ 
@media (max-width: 767px) {
  .title-row {
    font-size: 34px;
    padding-bottom: 33px;
  }
  
  .subtitle-row {
   right font-size: 26px;
    padding-bottom: 26px;
    padding-top: 26px;
  }
  .footer {
    padding-right: 15px;
  }
}

/* Repsonsive CSS for devices smaller than 480px in width
   Usually mobile devices
*/ 
@media (max-width: 480px) {
  .schedule {
    padding-bottom: 5px;
  }
  .schedule-time {
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 25px;
  }
  .schedule-event {
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
  }
  #home-row-1 {
    padding-top: 100px;
  }
  .footer-left {
    margin-top: 25px;
  }
  .font-about {
    font-family: "Titillium Web", Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: .5em;
    padding-right: 5px;
    padding-left: 5px;
  }
}

a:target {
  padding-top: 20px;
}
